@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

:root{
    --Roxo-Fundo:#17162E;
    --Branco:#FFFFFF;
    --Roxo2:#1D1C3B;
    --gray:#ACACAC;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Roxo-Fundo);
}

.container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header h1{
    text-align: center;
    font-size: 2.3rem;
    color: var(--Branco);
}

.pesquisar{
    width: 50%;
    height: 20%;
    outline: none;
    border: none;
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 0.3rem;
}

.checkbox{
    width: 25%;
    height: 5%;
    display: flex;
    align-items: center;
}

.checkbox .inputCheckBox{
    outline: none;
    background: none;
    border: 2px solid #706EA8;
    border-radius: 4px;
}

.checkbox label{
    margin-left: 0.5rem;
    color: #FFFFFF;
}

main{
    width: 100%;
    height: 70vh;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.filme{
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #1D1C3B;
    box-shadow: 32.8387px 24.5482px 79px rgba(0, 0, 0, 0.15), 23.8851px 17.855px 53.2479px rgba(0, 0, 0, 0.121406), 16.6246px 12.4276px 34.4391px rgba(0, 0, 0, 0.10125), 10.9035px 8.15079px 21.3701px rgba(0, 0, 0, 0.0867188), 6.56775px 4.90965px 12.8375px rgba(0, 0, 0, 0.075), 3.46346px 2.58907px 7.6377px rgba(0, 0, 0, 0.0632813), 1.4367px 1.07399px 4.56719px rgba(0, 0, 0, 0.04875), 0.333519px 0.249318px 2.42246px rgba(0, 0, 0, 0.0285938);
    border-radius: 0.5rem;
}

.imagem{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.imagem img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.3));
}

.fav-star{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fav-star h4{
    color: #FFFFFF;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1rem;
}

.fav-star .icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon .rating{
    width: 25%;
    display: flex;
}

.icon .rating p{
    color:var(--Branco);
    text-align: center;
    margin-left: 0.5rem;
}

.icon .fav{
    width: 46%;
    display: flex;
}

.icon .fav p{
    text-align: center;
    color: var(--Branco);
    margin-left: 0.5rem;
}

.sinopse{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sinopse p{
    color: var(--Branco);
    text-align: start;
}
